<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
               <!--List-->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre completo</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in list" v-bind:key="item.id">
                            <td>
                                <a href="#" title='Modificar'><span class='glyphicon glyphicon-pencil btn btn-primary' style='padding:1px 3px'>Editar</span></a>
                                <a href="#" title='Eliminar' @click.prevent="deletePerson(item)"><span class='glyphicon glyphicon-remove btn btn-danger' style='padding:1px 3px'>Eliminar</span></a>
                            </td>
                            <td>{{ item.name }} {{ item.lastname }}</td>
                           
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created(){
		this.getItems();
    },
        data(){
            return{
            url:'liststudents/',
            list:[],
            id_types:[],
            course_categories:[],
            search:'',
            s:{fullname:'',id_type:'',identification:'',birthdate:'',main_phone:'',sec_phone:'',email:'',interest_courses:'',observations:''},
            c:{name:'',lastname:'',id_type:'',identification:'',birthdate:'',main_phone:'',sec_phone:'',email:'',interest_courses:[],observations:''},
            e:{id:'',person:'',name:'',lastname:'',id_type:'',identification:'',birthdate:'',main_phone:'',sec_phone:'',email:'',observations:''},
            errors:[]
            }
        },
        methods:{
            searchItems:function(){
                //this.search='Buscando '+this.search
            },
            enrolment:function(item){
                //alert("Matricula en progreso!");
                var url= this.url+'enrolment/'+item.id;
                //alert(url);
                axios.put(url,this.e.id).then(response=>{
                    this.getItems;
                    this.errors=[];
                    $('#edit').modal('hide');
                    toastr.success('Se hamatriculado correctamente');
                }).catch(error=>{
                    this.errors=error.response.data
                });
            },
            getItems:function(){
                var url=this.url;
                axios.get(url).then(response=>{
                    this.list=response.data.students;
                    this.id_types=response.data.id_types;
                    this.course_categories=response.data.course_categories;
                });
            }
        }
    
    }
</script>
